/*ボタン調整用*/

.button a {
    display: flex;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    padding: 1em 2em;
    width: 60%;
    color: #00838F;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #0097A7;
    border-radius: 10px;
  }
  
  .button a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #00838F;
    border-right: 3px solid #00838F;
    transform: rotate(45deg);
  }
 
  .button a:hover {
    color: #566168;
    text-decoration: none;
    background-color: #a0c4d3;
  }
  
  .button a:hover::after {
    border-top: 3px solid #a9a9a9;
    border-right: 3px solid #a9a9a9;
  }