div{
    margin: 0 auto;
}


.button {
    text-align: center;
    width: 70%;
    height: 30%;
    text-align: center;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    line-height: 50px;
    overflow: hidden;
    display: inline-block;
}

.button:hover {
    color: #fff;
}

.button::after {
    top: -100%;
    width: 100%;
    height: 100%;
}

.button:hover::after {
    top: 0;
    background-color: #333;
}