/*背景部分*/
header {
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
}

/* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
}

.header-font {
    font-family: 'DotGothic16', sans-serif;
    color: #3d3d3d;
}


/***mobile***/
@media screen and (max-width:900px) {
    body {
        /*ヘッダーと被るのを防ぐためにずらす*/
        margin-top: 8%;
    }

    /*背景部分*/
    header {
        z-index: 100;
        height: 8%;
        opacity: 1.0;
        position: fixed;
        /*ロゴを中心に持ってくるため左60px*/
        padding: 10px 0px 0px 60px;
    }

    /*ロゴ*/
    .logo {
        z-index: 110;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    /***ハンバーガーメニュー***/
    /*https://web-camp.io/magazine/archives/88361*/

    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 200;
        /* 重なり順を一番上にする */
        cursor: pointer;
    }

    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #696969;
        transition: 0.5s;
        position: absolute;
        z-index: 50;
    }

    /* 三本線の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }
    .drawer_open span:after {
        top: 8px;
    }

    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }

    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューのデザイン*/
    .nav_content {
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 100%;
        margin-top: 8%;
        left: 0%;
        /* メニューを画面の外に飛ばす */
        z-index: 190;
        background: rgba(217, 217, 217, 0.95);
        transition: .5s;
        text-align: center;
    }

    .nav_item a {
        font-size: large;
        color: #ffffff;
    }
    
    .nav_li{
        top: 10%;
        color: #ffffff;
        height: 70px;
        /*ロゴを中心に持ってくるため左60px*/
        padding: 30px 60px 0px 0px;
    }

    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked~.nav_content {
        bottom: 0;
        /* メニューを画面に入れる */
    }
}

/***PC***/
@media screen and (min-width:901px) {
    body {
        padding-top: 5%;
    }

    /*背景部分*/
    header {
        height: 6em;
        /* padding: 15px 30px 15px 30px; */
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }

    /*ロゴ*/
    .logo {
        width: 50%;
        font-size-adjust: inherit;
    }

    /*ナビメニュー*/
    .nav_list {
        text-align: right;
        margin: 0 0 0;
        display: flex;
    }

    .nav_li {
        margin: 0 0 0 45px;
        font-size: 18px;
    }

    nav {
        margin: 0 5% 0 auto;
    }
}
