body {
    margin: 0;
    padding: 100px 0 0 0;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-weight: 700;
    text-align: center;
}

/* contact */
.contact-box {
    margin-left: 30px;
}
.contact-list {
    margin-left: 20px;
    margin-bottom: 40px;
}
.contact-tw {
    color: #00acae;
}
.contact-ig {
    color: #833ab4;
}
.contact-yt {
    color: #c4302b;
}

/* activity */
.activity-title {
    font-weight: bold;
    list-style-type: none;
}
.activity-img-block {
    display: flex;
    overflow-x: scroll;
}
.activity-img {
    margin-left: 20px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* URL */
.URL {
    text-decoration: none;
    color: black;
}
.link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/***スマホ表示***/
@media screen and (max-width:900px) {
    /*本文*/
    .content {
        display: block;
        margin: 10px 0px 10px 10px;
        padding-bottom: 20px;
    }
    .main-text {
        color: #696969;
        margin-left: 12px;
    }

    /*活動内容*/
    .main-activity{
        display: column;
    }

    /* index */
    .index-logo {
        font-size: 0px;
    }
    .index-logo-sp {
        font-size: clamp(32px,3vw,50px);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: 'DotGothic16', sans-serif;
    }
    .index-intro{
        margin-left: 15px;
    }

    /* contact */
    .contact-box {
        margin-left: 20px;
    }
    .contact-list {
        margin-left: 10px;
        margin-bottom: 40px;
    }
    /* activity */
    .activity-box {
        margin-left: 10px;
    }
    .activity-block {
        margin-left: 15px;
    }
    
    .activity-text {
        margin-left: 20px;
    }
    .activity-img {
        width: 150px;
        height: 150px;
    }
    

}

/***PC表示***/
@media screen and (min-width:901px) {
    /*本文*/
    .content {
        display: block;
        margin-left: 90px;
        margin-right: 90px;
        padding-bottom: 20px;
    }
    .main-text {
        color: #696969;
        margin: 0px 12px 0px 12px;
    }

    /*Flexbox*/
    .flexbox-box {
        display: flex;
        justify-content: space-between;
    }
    .flexbox-item {
        width: 45%;
        margin: 10px;
    }

    /* index */
    .index-logo {
        font-size: clamp(32px,3vw,50px);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: 'DotGothic16', sans-serif;
    }
    .index-logo-sp {
        font-size: 0px;
    }
    .index-intro{
        margin-left: 30px;
    }

    /* contact */
    .contact-box {
        margin-left: 30px;
    }
    .contact-list {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    /* activity */
    .activity-box {
        margin-left: 30px;
    }
    .activity-block {
        margin-left: 20px;
    }
    .activity-text {
        margin-left: 20px;
    }
    .activity-img {
        width: 250px;
        height: 250px;
    }
}