/*参考にしたサイト
https://moonnote.hateblo.jp/entry/2015/12/03/200718
*/

.SNS-icon {
    list-style: none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: space-evenly
}

.SNS-icon li {
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
}

.SNS-icon li a::before {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 80px; /* Button height */
    line-height: 80px; /* Button height */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 80px; /* Button width */
}

.SNS-icon li a:hover::before {
    opacity: 0.7;
}


.SNS-icon li a[href*="github.com"]::before         { background-color: #181717; content: "\f09b"; }
.SNS-icon li a[href*="instagram.com"]::before      { background-color: #125688; content: "\f16d"; }
.SNS-icon li a[href*="twitter.com"]::before        { background-color: #55acee; content: "\f099"; }
.SNS-icon li a[href*="wordpress.org"]::before      { background-color: #21759b; content: "\f19a"; }
.SNS-icon li a[href*="youtube.com"]::before        { background-color: #cd201f; content: "\f16a"; }


  

.SNS-icon li a[href$="/feed"]::before              { background-color: #ffa500; content: "\f09e"; }
.SNS-icon li a[href$="/subscribe"]::before         { background-color: #363636; content: "\f000";  font-family: blogicon; }
